@CHARSET "ISO-8859-1";

.ui-button { 
	width: 250px; 
	height: 50px;
}

body {
	background-color: LightBlue;
}

.ui-panelgrid tr,
.ui-panelgrid td {
    background: none;
    border-style: none !important;
}
